@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  background: $very-dark-blue;
  width: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  display: flex;
  margin: 20px auto;
  flex-direction: column-reverse;
  width: 200px;
  background: $dark-desaturated-blue;
  border-radius: 5px 5px 5px 5px;

  .image-container {
    border-radius: 5px 5px 0 0;
    position: relative;
    top: 0;
    left: 0;
    height: 140px;
    background: url("/images/image-header-mobile.jpg") no-repeat center/cover;

    .image-color {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0.6;
      border-radius: 5px 5px 0 0;
      background: $soft-violet;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    text-align: center;

    h1 {
      font-size: 17px;
      color: $white;
      margin: 10px 0;
    }

    #insights {
      color: $soft-violet;
    }

    p {
      font-size: 9px;
      color: $main-para-color;
      line-height: 1.6;
    }

    .list {
      display: flex;
      height: 120px;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 10px;

      .list-entry {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;

        .text {
          color: $white;
          font-size: 14px;
          font-weight: bold;
        }

        .subtext {
          color: $stat-heading-color;
          font-size: 7px;
          font-family: "Lexend Deca", sans-serif;
          margin-top: 5px;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  main {
    flex-direction: row;
    width: 700px;

    .image-container {
      border-radius: 0 5px 5px 0;
      position: relative;
      top: 0;
      left: 0;
      height: initial;
      width: 700px;
      background: url("/images/image-header-desktop.jpg") no-repeat center/cover;

      .image-color {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.6;
        border-radius: 0 5px 5px 0;
      }
    }

    .content {
      flex-direction: column;
      margin: 20px 0;
      margin-left: 30px;
      margin-right: 10px;
      text-align: left;

      h1 {
        font-size: 23px;
        margin: 20px 20px 20px 0;
        padding-right: 50px;
      }

      p {
        font-size: 11px;
        padding-right: 70px;
      }

      .list {
        height: 60px;
        flex-direction: row;
        margin-right: 30px;
        width: 250px;

        .text {
          font-size: 15px;
        }

        .subtext {
          font-size: 10px;
        }
      }
    }
  }
}
